*nohup.out
*sqlite3
.DS_Store
.bundle
.idea
.rbenv-version
.ruby-version
.rvmrc
.powder
.powrc
#.rspec
config/deploy.rb
#config/database.yml
config/environments/production.rb
config/initializers/*_local.rb
config/lam_auth.yml
db/*.sqlite3
log
mkmf.log
public/puma_after_hours
public/assets
public/system
test
tmp
*.swp