'Поздравляем, (#{@discipline.user.email})! Ваша дисциплина прошла модерацию и доступна по ссылке: (#{discipline_url(@discipline)})

<br>
'Поделитесь этой ссылкой со своими друзьями, чтобы они проголосовали.


