'Уважаемый, (#{@discipline.user.email})! Ваша дисциплина не прошла модерацию.
<br>
'Вы можете попробовать еще раз, но постарайтесь не копировать дисциплины других участников конкурса, а так же не используйте ненормативную лексику.