'Уважаемый (#{@discipline.user.email}), пожалуйста подтвердите Вашу дисциплину по ссылке:
<br>
#{confirm_discipline_url(@discipline)}?email=#{@discipline.user.email}
<br>
'Письмо о подтверждении либо отказе дисциплины нашими модераторами вы получите в
течении 24 часов после Вашего подтверждения об отправлении.

